
.image-gallery-content .image-gallery-slide .image-gallery-image {
  border-radius: 5px;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  border-radius: 5px
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus {
  outline: none;
  border: 3px solid #05386B;
  border-radius: 5px;
}

